* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light_red: #ff0000;
    --red: #c90000;
    --dark_red: #a30000;
    --ultra_dark_red: #830000;
    --ultra_dark_red2: #740101;
    --blur_red: #ff00000d;

    --light_black: #050505;
    --black: #000000;
    --blur_black: #0000000d;

    --white: #ffffff;
    --blur_white: #ffffff0d;

    --light_gray: #9e9e9e;
    --gray: #808080;
    --dark_gray: #636363;
    --ultra_dark_gray: #272727;
    --ultra_dark_gray2: #111111;
    --ultra_dark_gray-blur: #1f1f1fc4;
    --blur_gray: #4140400d;

    --light_green: #00ff00;
    --green: #00d800;
    --dark_green: #02b402;
    --blur_green: #00ff000d;

    --transparent: #00000000;

    --sidebar-width: 70px;
    --sidebar-expanded: 220px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--ultra_dark_gray);
}

::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 4px;
    border: 2px solid var(--ultra_dark_gray);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark_red);
}

::-webkit-scrollbar-thumb:active {
    background: var(--ultra_dark_red2);
}

header {
    padding: 2rem 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--light_black);
    color: var(--white);
    z-index: 99;
    overflow-x: hidden;
}

img,video,svg {
    -webkit-user-drag: none;
    user-select: none;
}

.sos {
    margin-left: var(--sidebar-width);
    padding-top: 80px;
    transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .sos {
    margin-left: var(--sidebar-expanded);
}

.about-hero {
    padding: 80px 500px 80px 20px;
}

.about {
    padding: 15px 0px 20px 25px;
    border-radius: 20px;
    border: 0.1px solid var(--ultra_dark_gray);
    background-color: var(--ultra_dark_gray2);
    cursor: pointer;
    transition: all 0.3s;
}

.about:hover {
    border: 0.1px solid var(--red);
    transform: scale(1.005) translateY(-5px);
}

.about h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.about p {
    color: var(--white);
    font-size: 19px;
}

.servicios-hero {
    padding: 30px 15px 30px 15px;
}

.servicios-hero h1 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.servicios-hero h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.servicios-1 {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.servicios-2 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.servicios-card {
    padding: 40px 50px 40px 50px;
    width: 350px;
    height: 290px;
    border-radius: 20px;
    border: 0.1px solid var(--ultra_dark_gray);
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--ultra_dark_gray2);
}

.servicios-card img {
    width: 70px;
}

.servicios-card:hover {
    border: 0.1px solid var(--red);
    transform: scale(1.005) translateY(-5px);
}

.trabajos-hero {
    padding: 50px 40px 50px 40px;
}

.trabajos-hero h1 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.trabajos-hero h3 {
    margin: 5px 0px 8px 0px;
    font-size: 20px;
}

.trabajos-hero .estado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 5px;
}

.trabajos-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid var(--ultra_dark_gray2);
    border-radius: 20px;
    gap: 30px;
}

.trabajos-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid var(--ultra_dark_gray2);
    border-radius: 20px;
    gap: 30px;
    margin-top: 30px;
}

.trabajos-card {
    padding: 20px;
    background-color: var(--ultra_dark_gray2);
    border-radius: 20px;
    border: 0.1px solid var(--ultra_dark_gray);
    width: 290px;
    height: 260px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.trabajos-card:hover {
    border: 0.1px solid var(--red);
    transform: scale(1.005) translateY(-5px);
}

.trabajos-card img {
    border-radius: 37px;
    width: 125px;
    height: 125px;
}

.neon-rojo #neon-rojo {
    color: var(--red);
    text-shadow: 
        0 0 5px var(red);
}

.neon-rojo-hover #neon-rojo-hover {
    transition: all 0.3s;
}

.neon-rojo-hover:hover #neon-rojo-hover {
    color: var(--red);
    text-shadow:
        0 0 5px var(--red)
}

.redes {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 5px 0px;
}

.redes a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--transparent);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.redes img {
    width: 1.7rem;
    height: 1.7rem;
    filter: invert(100%) sepia(20%) saturate(300%) hue-rotate(170deg);
    transition: all 0.5s ease;
}

.redes img:hover {
    transform: scale(1.2) rotate(360deg);
    filter:
        invert(19%) sepia(99%) saturate(7486%) hue-rotate(2deg) brightness(102%) contrast(112%)
        drop-shadow(0 0 4px var(--dark_red))
        drop-shadow(0 0 4px var(--dark_red));
}

footer {
    margin-top: 80px;
    padding: 50px 20px 30px 20px;
    background: linear-gradient(to top, var(--black), var(--ultra_dark_gray2));
    border-top: 1px solid var(--ultra_dark_gray);
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-copy {
    font-size: 14px;
    color: var(--gray);
}

.line-footer {
    height: 2px;
    width: 100%;
    background: linear-gradient(
        to right,
        transparent,
        var(--red),
        transparent
    );
    box-shadow: 0 0 10px var(--red);
    margin-bottom: 40px;
}

.estado {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    font-weight: 600;
}

.estado .punto {
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.estado.activo {
    color: var(--light_green);
    background-color: var(--blur_green);
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 0px 0px;
}

.estado.activo .punto {
    background: var(--light_green);
    box-shadow: 0 0 6px var(--light_green);
    animation: pulse-green 1s infinite;
}

.estado.inactivo {
    color: var(--light_red);
    background-color: var(--blur_red);
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 0px 0px;
}

.estado.inactivo .punto {
    background: var(--light_red);
    box-shadow: 0 0 6px var(--light_red);
    animation: pulse-red 2s infinite;
}

/*
.sidebar-logo {
    position: relative;
}

.sidebar-logo::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 70px;
    top: 90px;
    transform: translateY(-50%);
    background: var(--ultra_dark_gray);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    box-shadow: 0 0 8px var(--red);
}

.sidebar-logo:hover::after {
    opacity: 1;
}
*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--ultra_dark_gray2);
    border-right: 1px solid var(--ultra_dark_gray);
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar.expanded {
    width: var(--sidebar-expanded);
    border-right: 1px solid var(--red);
}

.sidebar-logo {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-logo img {
    width: 35px;
    height: 35px;
    transition: 0.3s ease;
    filter: drop-shadow(0 0 6px var(--red));
    border-radius: 100%;
}

.sidebar.expanded .sidebar-logo img {
    filter: drop-shadow(0 0 0px var(--red))
            drop-shadow(0 0 7px var(--red));
    transform: scale(1.2);
}

.sidebar-nav {
    margin-top: 40px;
    list-style: none;
    padding: 0;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    gap: 20px;
    color: var(--gray);
    text-decoration: none;
    transition: 0.3s ease;
}

.sidebar-nav li a i {
    font-size: 1.2rem;
    min-width: 20px;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.sidebar.expanded .nav-text {
    opacity: 1;
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
    color: var(--red);
    background: var(--blur_red);
    text-shadow: 0 0 8px var(--red);
}

.sidebar-toggle {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--gray);
    transition: 0.3s ease;
}

.sidebar-toggle i {
    transition: transform 0.3s ease;
}

.sidebar-toggle:hover {
    color: var(--red);
    text-shadow: 0 0 8px var(--red);
}

.sidebar.expanded .sidebar-toggle i {
    transform: rotate(180deg);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width));
    height: 60px;
    background: rgba(17, 17, 17, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid var(--ultra_dark_gray);
    transition: width 0.3s ease;
    z-index: 999;
}

.sidebar.expanded ~ .navbar {
    width: calc(100% - var(--sidebar-expanded));
}

.navbar-title {
    font-weight: 600;
    letter-spacing: 1px;
}

.contacto-hero {
    padding: 80px 40px;
}

.contacto-hero h1 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.contacto-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contacto-card {
    width: 320px;
    padding: 40px;
    background-color: var(--ultra_dark_gray2);
    border-radius: 20px;
    border: 0.1px solid var(--ultra_dark_gray);
    text-align: center;
    transition: 0.3s ease;
}

.contacto-card:hover {
    border: 0.1px solid var(--red);
    transform: translateY(-6px);
}

.contacto-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    transition: 0.4s ease;
}

.contacto-card:hover img {
    transform: scale(1.1) rotate(5deg);
    filter:
            drop-shadow(0 0 6px var(--red))
            drop-shadow(0 0 10px var(--red));
}

.contacto-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.contacto-card p {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 20px;
}

.contacto-card a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.contacto-card a:hover {
    background: var(--dark_red);
    box-shadow: 0 0 10px var(--red);
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#clock {
    color: var(--red);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--blur_red);
    padding: 10px 7px 10px 7px;
    border-radius: 9px;
}

.navbar-right {
    border-left: 0.1px solid var(--ultra_dark_gray);
    padding: 20px 0px 20px 40px;
}

#color-red {
    color: var(--red);
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 var(--light_green);
    }
    70% {
        box-shadow: 0 0 0 6px transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 var(--light_red);
    }
    70% {
        box-shadow: 0 0 0 6px transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

@media (max-width: 1200px) {
    .about-hero {
        padding: 60px 50px 60px 20px;
    }

    .servicios-1, .servicios-2, .trabajos-1, .trabajos-2 {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .about h1 {
        font-size: 40px;
    }

    .servicios-card {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .trabajos-card {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 768px) {
    :root {
        --sidebar-width: 60px;
    }

    .sos {
        margin-left: var(--sidebar-width);
        padding-top: 70px;
    }

    .about-hero, .servicios-hero, .trabajos-hero {
        padding: 40px 15px;
    }

    .about h1 {
        font-size: 32px;
    }

    .about p {
        font-size: 16px;
    }

    .servicios-hero h1, .trabajos-hero h1 {
        font-size: 30px;
        margin-left: 0;
        text-align: center;
    }

    .servicios-1, .servicios-2, .trabajos-1, .trabajos-2 {
        flex-direction: column;
    }

    .servicios-card, .trabajos-card {
        width: 100%;
        max-width: 100%;
    }

    .navbar {
        padding: 0 15px;
    }

    .navbar-title {
        font-size: 14px;
    }

    .sidebar.expanded ~ .sos {
        margin-left: var(--sidebar-width);
    }
    
    .sidebar.expanded {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .about h1 {
        font-size: 26px;
    }

    .footer-title {
        font-size: 18px;
    }

    .redes img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .trabajos-card img {
        width: 100px;
        height: 100px;
    }
    
    #clock {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar.expanded ~ .navbar {
        width: 100%;
        left: 0;
    }
    .contacto-hero {
    padding: 40px 15px;
    }

    .contacto-hero h1 {
    text-align: center;
    margin-left: 0;
    }
}
